fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv
pydantic
python-multipart

requests

numpy
pandas

scikit-learn
joblib

xgboost
prophet
tensorflow

passlib[bcrypt]
python-jose[cryptography]